<h1>Demo#index</h1>
<p>heloo index </p>

<a href="/demo/hello">hemmo</a></br>
<%= link_to('hello 2',{:action => 'hello'}) %></br>


<%= link_to('hello with para',{:action => 'hello',:page =>5 ,:id =>20}) %>
</br>

id : <%= params[:id] %>
page :<%= @page %>
